//Créer une variable padding = 20px;
$base-padding:10px;


//borders
$base-border_thickness: 1px;
$base-border-radius: 20px;

//box shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.327);

//taille du carré
$square-size: 200px;